<h1><%= @list.name %></h1>

<ul><% @list.movies.each do |movie| %>
  <li><%= movie.title %></li>
  <% end  %></ul>

<p><%= link_to 'Update list', edit_list_path %></p>
<p><%= link_to 'Add Movie', new_list_bookmark_path(@list) %></p>
<p><%= link_to "Delete #{@list.name}", list_path(@list), method: :delete, data: { confirm: "Are you sure?" }%></p>
<p><%= link_to 'Back to overview', lists_path %></p>
